<ul class="nav nav-tabs" id="myTab">
    <li class="active">
        <a data-target="#apply" data-toggle="tab">申请人环节</a>

    </li>
    <li>
        <a data-target="#PL" data-toggle="tab">项目经理审核</a>
    </li>
    <li>
        <a data-target="#standard" data-toggle="tab">标准化审核</a>
    </li>
    <li>
        <a data-target="#approve" data-toggle="tab">批准人审核</a>
    </li>
    <li>
        <a data-target="#issue" data-toggle="tab">数据发放</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="apply">
        <h>这是申请人环节</h>
    </div>
    <div class="tab-pane" id="PL">
        <h>这是项目经理环节</h>
    </div>
    <div class="tab-pane" id="approve">
        <h>这是批准人环节</h>
    </div>
    <div class="tab-pane" id="issue">
        <h>这是数据发放环节</h>
    </div>
</div>